In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/order.csv')
df.head()

,Unnamed: 0,Mã đơn hàng,Tình trạng thanh toán,Tổng tiền,Tổng cộng,Số lượng sản phẩm,Tên sản phẩm,Giá sản phẩm,Phương thức thanh toán
0,0,#100069,Đã thanh toán,3600000,3600000,6,Pop 1,600000,Chuyển khoản qua ngân hàng
1,1,#100068,Chờ xử lý,10249200,10249200,6,EM2,584000,Chuyển khoản qua ngân hàng
2,2,#100068,Chờ xử lý,10249200,10249200,6,Pop 2,569400,Chuyển khoản qua ngân hàng
3,3,#100068,Chờ xử lý,10249200,10249200,6,Pop 3,554800,Chuyển khoản qua ngân hàng
4,4,#100067,Đã thanh toán,3420000,3420000,6,Pop 3,570000,Chuyển khoản qua ngân hàng

In [3]:
df.columns

Index(['Unnamed: 0', 'Mã đơn hàng', 'Tình trạng thanh toán', 'Tổng tiền',
       'Tổng cộng', 'Số lượng sản phẩm', 'Tên sản phẩm', 'Giá sản phẩm',
       'Phương thức thanh toán'],
      dtype='object')

In [4]:
df.shape

(186, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              186 non-null    int64
 1   Mã đơn hàng             186 non-null    object
 2   Tình trạng thanh toán   186 non-null    object
 3   Tổng tiền               186 non-null    int64
 4   Tổng cộng               186 non-null    int64
 5   Số lượng sản phẩm       186 non-null    int64
 6   Tên sản phẩm            186 non-null    object
 7   Giá sản phẩm            186 non-null    int64
 8   Phương thức thanh toán  186 non-null    object
dtypes: int64(5), object(4)
memory usage: 13.2+ KB

In [6]:
df['Phương thức thanh toán'].unique()

array(['Chuyển khoản qua ngân hàng', 'Thanh toán khi giao hàng (COD)'],
      dtype=object)

In [7]:
df['Tình trạng thanh toán'].unique()

array(['Đã thanh toán', 'Chờ xử lý'], dtype=object)

In [8]:
df.duplicated().sum()

0

In [9]:
df['Revenue'] = (df['Giá sản phẩm']*df['Số lượng sản phẩm'])
df

,Unnamed: 0,Mã đơn hàng,Tình trạng thanh toán,Tổng tiền,Tổng cộng,Số lượng sản phẩm,Tên sản phẩm,Giá sản phẩm,Phương thức thanh toán,Revenue
0,0,#100069,Đã thanh toán,3600000,3600000,6,Pop 1,600000,Chuyển khoản qua ngân hàng,3600000
1,1,#100068,Chờ xử lý,10249200,10249200,6,EM2,584000,Chuyển khoản qua ngân hàng,3504000
2,2,#100068,Chờ xử lý,10249200,10249200,6,Pop 2,569400,Chuyển khoản qua ngân hàng,3416400
3,3,#100068,Chờ xử lý,10249200,10249200,6,Pop 3,554800,Chuyển khoản qua ngân hàng,3328800
4,4,#100067,Đã thanh toán,3420000,3420000,6,Pop 3,570000,Chuyển khoản qua ngân hàng,3420000
...,...,...,...,...,...,...,...,...,...,...
181,181,#100003,Chờ xử lý,5185000,5035000,1,Táo Bio,75000,Thanh toán khi giao hàng (COD),75000
182,182,#100003,Chờ xử lý,5185000,5035000,1,Cà rốt,75000,Thanh toán khi giao hàng (COD),75000
183,183,#100002,Chờ xử lý,1600000,1600000,2,EM1,800000,Chuyển khoản qua ngân hàng,1600000
184,184,#100001,Chờ xử lý,800000,800000,1,EM1,800000,Thanh toán khi giao hàng (COD),800000
185,185,#100000,Chờ xử lý,800000,800000,1,EM1,800000,Thanh toán khi giao hàng (COD),800000

In [10]:
cod_df = df[(df['Phương thức thanh toán'] == 'Thanh toán khi giao hàng (COD)') & (df['Tình trạng thanh toán'] == 'Đã thanh toán')]
cod_df.head()

,Unnamed: 0,Mã đơn hàng,Tình trạng thanh toán,Tổng tiền,Tổng cộng,Số lượng sản phẩm,Tên sản phẩm,Giá sản phẩm,Phương thức thanh toán,Revenue
18,18,#100063,Đã thanh toán,800000,800000,1,Pop 1,800000,Thanh toán khi giao hàng (COD),800000
21,21,#100061,Đã thanh toán,4380000,4380000,6,Pop 2,730000,Thanh toán khi giao hàng (COD),4380000
33,33,#100056,Đã thanh toán,2520000,2520000,4,EM3,630000,Thanh toán khi giao hàng (COD),2520000
34,34,#100055,Đã thanh toán,1600000,1600000,2,EM3,800000,Thanh toán khi giao hàng (COD),1600000
35,35,#100054,Đã thanh toán,800000,800000,1,EM1,800000,Thanh toán khi giao hàng (COD),800000

In [11]:
print('Tổng doanh thu COD: {:,}'.format(sum(cod_df['Revenue'])))

Tổng doanh thu COD: 17,901,000