In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'key':['A','B','C']*3,'data':[0,5,10,5,10,15,10,15,20]})
grouped = df.groupby('key')

In [3]:
df

  key  data
0   A     0
1   B     5
2   C    10
3   A     5
4   B    10
5   C    15
6   A    10
7   B    15
8   C    20

In [ ]:
df['data2'] = np.arange(9)

In [4]:
grouped = df.groupby('key')

In [5]:
grouped

In [6]:
grouped.get_group('A',df)

  key  data
0   A     0
3   A     5
6   A    10

In [7]:
grouped.mean() ###produce a new dataframe

     data
key
A     5.0
B    10.0
C    15.0

In [87]:
series = df.groupby('key')['data'].mean()###produce a new series
series.index

Index(['A', 'B', 'C'], dtype='object', name='key')

In [88]:
df.groupby(['key'],as_index = False)['data'].mean()

  key  data
0   A   5.0
1   B  10.0
2   C  15.0

In [89]:
grouped.groups

{'A': [0, 3, 6], 'B': [1, 4, 7], 'C': [2, 5, 8]}

# GROUP THE DATA USING TWO KEYS

In [90]:
df['key2'] = ['one','two']*4+['one']

In [91]:
df

  key  data key2  data2
0   A     0  one      0
1   B     5  two      1
2   C    10  one      2
3   A     5  two      3
4   B    10  one      4
5   C    15  two      5
6   A    10  one      6
7   B    15  two      7
8   C    20  one      8

In [92]:
means = df.groupby(['key','key2']).mean()

In [93]:
means

          data  data2
key key2
A   one    5.0    3.0
    two    5.0    3.0
B   one   10.0    4.0
    two   10.0    4.0
C   one   15.0    5.0
    two   15.0    5.0

In [107]:
df.groupby(['key','key2'])[['data','data2']].mean()

          data  data2
key key2
A   one    5.0    3.0
    two    5.0    3.0
B   one   10.0    4.0
    two   10.0    4.0
C   one   15.0    5.0
    two   15.0    5.0

In [94]:
means.index

MultiIndex([('A', 'one'),
            ('A', 'two'),
            ('B', 'one'),
            ('B', 'two'),
            ('C', 'one'),
            ('C', 'two')],
           names=['key', 'key2'])

In [17]:
means.index.get_level_values(0)

Index(['A', 'A', 'B', 'B', 'C', 'C'], dtype='object', name='key')

In [18]:
means.index.get_level_values(1)

Index(['one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='key2')

In [95]:
means.loc[[('A','one'),('A','two')],'data']

key  key2
A    one     5.0
     two     5.0
Name: data, dtype: float64

In [97]:
means

          data  data2
key key2
A   one    5.0    3.0
    two    5.0    3.0
B   one   10.0    4.0
    two   10.0    4.0
C   one   15.0    5.0
    two   15.0    5.0

In [96]:
means.unstack()###how to access value of each column?

      data       data2
key2   one   two   one  two
key
A      5.0   5.0   3.0  3.0
B     10.0  10.0   4.0  4.0
C     15.0  15.0   5.0  5.0

In [103]:
df_mean = means.unstack()##change column names using list comprehension

In [104]:
df_mean

      data       data2
key2   one   two   one  two
key
A      5.0   5.0   3.0  3.0
B     10.0  10.0   4.0  4.0
C     15.0  15.0   5.0  5.0

In [105]:
df_mean.columns = ['_'.join(i) for i in df_mean.columns]
df_mean

     data_one  data_two  data2_one  data2_two
key
A         5.0       5.0        3.0        3.0
B        10.0      10.0        4.0        4.0
C        15.0      15.0        5.0        5.0

# Iterating Over Groups
The GroupBy object supports iteration, generating a sequence of 2-tuples containing the group name along with the chunk of data

In [25]:
for name, group in grouped:
    print(name)
    print(group)

A
  key  data key2
0   A     0  one
3   A     5  two
6   A    10  one
B
  key  data key2
1   B     5  two
4   B    10  one
7   B    15  two
C
  key  data key2
2   C    10  one
5   C    15  two
8   C    20  one

In [27]:
###multiple keys
for (k1,k2), group in df.groupby(['key','key2']):
    print((k1,k2))
    print(group)

('A', 'one')
  key  data key2
0   A     0  one
6   A    10  one
('A', 'two')
  key  data key2
3   A     5  two
('B', 'one')
  key  data key2
4   B    10  one
('B', 'two')
  key  data key2
1   B     5  two
7   B    15  two
('C', 'one')
  key  data key2
2   C    10  one
8   C    20  one
('C', 'two')
  key  data key2
5   C    15  two

In [28]:
grouped2 = df.groupby(['key','key2'])
grouped2.get_group(('A','one'))

  key  data key2
0   A     0  one
6   A    10  one

In [29]:
grouped2

In [30]:
###another way to get group
pieces = dict(list(grouped2))

In [31]:
pieces

{('A',
  'one'):   key  data key2
 0   A     0  one
 6   A    10  one,
 ('A',
  'two'):   key  data key2
 3   A     5  two,
 ('B',
  'one'):   key  data key2
 4   B    10  one,
 ('B',
  'two'):   key  data key2
 1   B     5  two
 7   B    15  two,
 ('C',
  'one'):   key  data key2
 2   C    10  one
 8   C    20  one,
 ('C',
  'two'):   key  data key2
 5   C    15  two}

# Selecting a Column or Subset of Columns

In [32]:
grouped['data'].agg(['mean','max'])

     mean  max
key
A     5.0   10
B    10.0   15
C    15.0   20

Selecting a Column or subset of columns

In [33]:
import numpy as np
df['data2'] = np.arange(9)

In [34]:
df.groupby(['key','key2'])['data2'].mean()

key  key2
A    one     3.0
     two     3.0
B    one     4.0
     two     4.0
C    one     5.0
     two     5.0
Name: data2, dtype: float64

In [35]:
df.groupby(['key','key2'])[['data','data2']].mean()

          data  data2
key key2
A   one    5.0    3.0
    two    5.0    3.0
B   one   10.0    4.0
    two   10.0    4.0
C   one   15.0    5.0
    two   15.0    5.0

In [36]:
df[['data2']].groupby([df['key'],df['key2']]).mean()

          data2
key key2
A   one     3.0
    two     3.0
B   one     4.0
    two     4.0
C   one     5.0
    two     5.0

In [108]:
array = np.arange(10)
array.std()

2.8722813232690143

In [109]:
dff = pd.DataFrame()
dff['a'] =array
dff['a'].std()

3.0276503540974917

In [110]:
import pandas as pd
tips_df = pd.read_csv('D:\\Data Preparation\\Data\\tips.csv')

In [111]:
tips_df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [112]:
tips_df['tip_pct'] = tips_df['tip']/tips_df['total_bill']

In [40]:
tips_df.groupby('smoker')['tip_pct'].mean()

smoker
No     0.159328
Yes    0.163196
Name: tip_pct, dtype: float64

In [41]:
tips_df.groupby('smoker')['tip_pct'].describe()

,count,mean,std,min,25%,50%,75%,max
smoker,,,,,,,,
No,151.0,0.159328,0.039910,0.056797,0.136906,0.155625,0.185014,0.291990
Yes,93.0,0.163196,0.085119,0.035638,0.106771,0.153846,0.195059,0.710345

In [113]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [43]:
tips_df.groupby('smoker')['tip_pct'].agg(peak_to_peak)

smoker
No     0.235193
Yes    0.674707
Name: tip_pct, dtype: float64

In [116]:
tips_df.groupby(['day','smoker'])[['tip','tip_pct']].agg(['mean','std',peak_to_peak])

                  tip                          tip_pct
                 mean       std peak_to_peak      mean       std peak_to_peak
day  smoker
Fri  No      2.812500  0.898494         2.00  0.151650  0.028123     0.067349
     Yes     2.714000  1.077668         3.73  0.174783  0.051293     0.159925
Sat  No      3.102889  1.642088         8.00  0.158048  0.039767     0.235193
     Yes     2.875476  1.630580         9.00  0.147906  0.061375     0.290095
Sun  No      3.167895  1.224785         4.99  0.160113  0.042347     0.193226
     Yes     3.516842  1.261151         5.00  0.187250  0.154134     0.644685
Thur No      2.673778  1.282964         5.45  0.160298  0.038774     0.193350
     Yes     3.030000  1.113491         3.00  0.163863  0.039389     0.151240

In [45]:
tips_df.groupby(['day','smoker']).agg(['mean','min','max'])

TypeError: Could not convert MaleFemaleMaleFemale to numeric

In [118]:
tips_df.groupby(['day','smoker']).agg({'tip':['mean','median'],'size':'sum'})

                  tip        size
                 mean median  sum
day  smoker
Fri  No      2.812500  3.125    9
     Yes     2.714000  2.500   31
Sat  No      3.102889  2.750  115
     Yes     2.875476  2.690  104
Sun  No      3.167895  3.020  167
     Yes     3.516842  3.500   49
Thur No      2.673778  2.180  112
     Yes     3.030000  2.560   40

In [119]:
###select rows with the largest values in a particular column
def top(df, n=5, column = 'tip_pct'):
    return df.sort_values(by = column,ascending=False)[:n]

In [120]:
top(tips_df,6)

     total_bill   tip     sex smoker  day    time  size   tip_pct
172        7.25  5.15    Male    Yes  Sun  Dinner     2  0.710345
178        9.60  4.00  Female    Yes  Sun  Dinner     2  0.416667
67         3.07  1.00  Female    Yes  Sat  Dinner     1  0.325733
232       11.61  3.39    Male     No  Sat  Dinner     2  0.291990
183       23.17  6.50    Male    Yes  Sun  Dinner     4  0.280535
109       14.31  4.00  Female    Yes  Sat  Dinner     2  0.279525

In [122]:
tips_df.groupby('smoker').apply(top)

            total_bill   tip     sex smoker   day    time  size   tip_pct
smoker
No     232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
       149        7.51  2.00    Male     No  Thur   Lunch     2  0.266312
       51        10.29  2.60  Female     No   Sun  Dinner     2  0.252672
       185       20.69  5.00    Male     No   Sun  Dinner     5  0.241663
       88        24.71  5.85    Male     No  Thur   Lunch     2  0.236746
Yes    172        7.25  5.15    Male    Yes   Sun  Dinner     2  0.710345
       178        9.60  4.00  Female    Yes   Sun  Dinner     2  0.416667
       67         3.07  1.00  Female    Yes   Sat  Dinner     1  0.325733
       183       23.17  6.50    Male    Yes   Sun  Dinner     4  0.280535
       109       14.31  4.00  Female    Yes   Sat  Dinner     2  0.279525

In [123]:
tips_df.groupby('smoker').apply(top(df,n=1, column = 'total_bill'))

KeyError: 'total_bill'

In [73]:
###pass a function to apply that takes other arguments or keywords, you can pass these after the function
tips_df.groupby('smoker').apply(top, n=1, column = 'total_bill')

            total_bill   tip   sex smoker  day    time  size   tip_pct
smoker
No     212       48.33   9.0  Male     No  Sat  Dinner     4  0.186220
Yes    170       50.81  10.0  Male    Yes  Sat  Dinner     3  0.196812

In [68]:
tips_df.groupby('smoker').agg(top)##see what happens?

TypeError: sort_values() got an unexpected keyword argument 'by'

In [128]:
tips_df.groupby('smoker')[['tip']].mean().reset_index()

  smoker       tip
0     No  2.991854
1    Yes  3.008710

In [129]:
tips_df.groupby('smoker',as_index=False)[['tip']].mean()

  smoker       tip
0     No  2.991854
1    Yes  3.008710

In [124]:
###suppressing the Group Keys
tips_df.groupby('smoker',group_keys = False).apply(top)

     total_bill   tip     sex smoker   day    time  size   tip_pct
232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
149        7.51  2.00    Male     No  Thur   Lunch     2  0.266312
51        10.29  2.60  Female     No   Sun  Dinner     2  0.252672
185       20.69  5.00    Male     No   Sun  Dinner     5  0.241663
88        24.71  5.85    Male     No  Thur   Lunch     2  0.236746
172        7.25  5.15    Male    Yes   Sun  Dinner     2  0.710345
178        9.60  4.00  Female    Yes   Sun  Dinner     2  0.416667
67         3.07  1.00  Female    Yes   Sat  Dinner     1  0.325733
183       23.17  6.50    Male    Yes   Sun  Dinner     4  0.280535
109       14.31  4.00  Female    Yes   Sat  Dinner     2  0.279525

In [ ]:
def other_functions(arr):
    return arr + 1
tips_df.groupby('smoker')['total_bill'].agg(other_functions)

In [ ]:
tips_df.groupby('smoker')['total_bill'].apply(other_functions)

In [ ]:
tips_df.columns

# PIVOT TABLE

In [130]:
pivot_table_df = tips_df.pivot_table\
(values = 'tip_pct', index = 'smoker', aggfunc = 'mean')

In [131]:
pivot_table_df

         tip_pct
smoker
No      0.159328
Yes     0.163196

In [132]:
tips_df.pivot_table(values = ['total_bill','tip_pct'],index = ['smoker'])

         tip_pct  total_bill
smoker
No      0.159328   19.188278
Yes     0.163196   20.756344

In [133]:
tips_df.pivot_table('total_bill','smoker',aggfunc = ['mean', 'min','max']\
                    ,margins=True)

             mean        min        max
       total_bill total_bill total_bill
smoker
No      19.188278       7.25      48.33
Yes     20.756344       3.07      50.81
All     19.785943       3.07      50.81

In [80]:
tips_df.pivot_table(values = 'total_bill',columns = 'smoker')

smoker             No        Yes
total_bill  19.188278  20.756344

In [81]:
tips_df.pivot_table(values = 'total_bill',index = 'smoker')

        total_bill
smoker
No       19.188278
Yes      20.756344

In [78]:
tips_df.pivot_table(values = ['tip_pct','size'],index = 'day',columns = 'smoker')

            size             tip_pct
smoker        No       Yes        No       Yes
day
Fri     2.250000  2.066667  0.151650  0.174783
Sat     2.555556  2.476190  0.158048  0.147906
Sun     2.929825  2.578947  0.160113  0.187250
Thur    2.488889  2.352941  0.160298  0.163863

In [83]:
tips_df.groupby(['day','smoker'])[['tip_pct','size']].mean().unstack()

         tip_pct                size
smoker        No       Yes        No       Yes
day
Fri     0.151650  0.174783  2.250000  2.066667
Sat     0.158048  0.147906  2.555556  2.476190
Sun     0.160113  0.187250  2.929825  2.578947
Thur    0.160298  0.163863  2.488889  2.352941