 1. Read the World_Happiness_2015.csv file into a DataFrame

In [2]:
import pandas as pd
df = pd.read_csv('D:\\Data Preparation\\Data\\World_Happiness_2015.csv')

In [3]:
df.shape

(158, 12)

In [4]:
df.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

2. Print the first five rows of the DataFrame to become familiar with the data

In [5]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

3. Use the DataFrame.info() method to print information about the DataFrame

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

4. Use the df.groupby() method to group happiness2015 by the Region column. Assign the result to grouped

In [5]:
grouped = df.groupby('Region')

5. Select only the Happiness Score column from grouped. Assign the result to happy_grouped

In [7]:
happy_grouped = grouped['Happiness Score']

6. Use the GroupBy.mean() method to compute the mean of happy_grouped. Assign the result to happy_mean

In [8]:
happy_mean = happy_grouped.mean()

In [9]:
happy_mean

Region
Australia and New Zealand          7.285000
Central and Eastern Europe         5.332931
Eastern Asia                       5.626167
Latin America and Caribbean        6.144682
Middle East and Northern Africa    5.406900
North America                      7.273000
Southeastern Asia                  5.317444
Southern Asia                      4.580857
Sub-Saharan Africa                 4.202800
Western Europe                     6.689619
Name: Happiness Score, dtype: float64

7. Apply the GroupBy.agg() method to happy_grouped. Pass a list containing np.mean and np.max into the method. Assign the result to happy_mean_max

In [11]:
import numpy as np
happy_mean_max = happy_grouped.agg([np.mean,np.max])

In [12]:
happy_mean_max

                                     mean   amax
Region
Australia and New Zealand        7.285000  7.286
Central and Eastern Europe       5.332931  6.505
Eastern Asia                     5.626167  6.298
Latin America and Caribbean      6.144682  7.226
Middle East and Northern Africa  5.406900  7.278
North America                    7.273000  7.427
Southeastern Asia                5.317444  6.798
Southern Asia                    4.580857  5.253
Sub-Saharan Africa               4.202800  5.477
Western Europe                   6.689619  7.587

8. Create a custom function named dif to calculate the difference between the mean and maximum values. Pass dif into the GroupBy.agg() method. Assign the result to mean_max_dif

In [13]:
def dif(x):
    return x.max() - x.mean()
mean_max_dif = happy_grouped.agg(dif)

In [15]:
mean_max_dif.sort_values(ascending=False)

Region
Middle East and Northern Africa    1.871100
Southeastern Asia                  1.480556
Sub-Saharan Africa                 1.274200
Central and Eastern Europe         1.172069
Latin America and Caribbean        1.081318
Western Europe                     0.897381
Southern Asia                      0.672143
Eastern Asia                       0.671833
North America                      0.154000
Australia and New Zealand          0.001000
Name: Happiness Score, dtype: float64

9. Use the df.groupby() method to calculate the minimum, maximum, and mean family and happiness scores for each region in happiness2015

In [17]:
grouped = df.groupby('Region')[['Happiness Score','Family']]
happy_family_stats = grouped.agg(['min','max','mean'])
happy_family_stats

                                Happiness Score                    Family  \
                                            min    max      mean      min
Region
Australia and New Zealand                 7.284  7.286  7.285000  1.30923
Central and Eastern Europe                4.218  6.505  5.332931  0.38562
Eastern Asia                              4.874  6.298  5.626167  0.94675
Latin America and Caribbean               4.518  7.226  6.144682  0.74302
Middle East and Northern Africa           3.006  7.278  5.406900  0.47489
North America                             7.119  7.427  7.273000  1.24711
Southeastern Asia                         3.819  6.798  5.317444  0.62736
Southern Asia                             3.575  5.253  4.580857  0.30285
Sub-Saharan Africa                        2.839  5.477  4.202800  0.00000
Western Europe                            4.857  7.587  6.689619  0.89318


                                     max      mean
Region
Australia and New Zealand        1.31967  1.314450
Central and Eastern Europe       1.34043  1.053042
Eastern Asia                     1.30060  1.099427
Latin America and Caribbean      1.30477  1.104720
Middle East and Northern Africa  1.22393  0.920490
North America                    1.32261  1.284860
Southeastern Asia                1.26504  0.940468
Southern Asia                    1.10395  0.645321
Sub-Saharan Africa               1.18468  0.809085
Western Europe                   1.40223  1.247302

10. Use the pivot_table method to return the same information, but also calculate the minimum, maximum, and mean for the entire Family and Happiness Score columns

In [22]:
df.pivot_table(values = ['Happiness Score','Family'],index = 'Region'\
                         ,aggfunc = ['min','max','mean'],margins = True)

                                     min                      max  \
                                  Family Happiness Score   Family
Region
Australia and New Zealand        1.30923           7.284  1.31967
Central and Eastern Europe       0.38562           4.218  1.34043
Eastern Asia                     0.94675           4.874  1.30060
Latin America and Caribbean      0.74302           4.518  1.30477
Middle East and Northern Africa  0.47489           3.006  1.22393
North America                    1.24711           7.119  1.32261
Southeastern Asia                0.62736           3.819  1.26504
Southern Asia                    0.30285           3.575  1.10395
Sub-Saharan Africa               0.00000           2.839  1.18468
Western Europe                   0.89318           4.857  1.40223
All                              0.00000           2.839  1.40223

                                                     mean
                                Happiness Score    Family Happiness Score
Region
Australia and New Zealand                 7.286  1.314450        7.285000
Central and Eastern Europe                6.505  1.053042        5.332931
Eastern Asia                              6.298  1.099427        5.626167
Latin America and Caribbean               7.226  1.104720        6.144682
Middle East and Northern Africa           7.278  0.920490        5.406900
North America                             7.427  1.284860        7.273000
Southeastern Asia                         6.798  0.940468        5.317444
Southern Asia                             5.253  0.645321        4.580857
Sub-Saharan Africa                        5.477  0.809085        4.202800
Western Europe                            7.587  1.247302        6.689619
All                                       7.587  0.991046        5.375734

Read the OnlineRetail.csv file to pandas DataFrame
1. How many customers who purchase more than 3 times?
2. What is the average of the number of items in each invoice?

In [15]:
df = pd.read_csv('D:\\Data Preparation\\Data\\OnlineRetail.csv')

In [16]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,539993,22386,JUMBO BAG PINK POLKADOT,10,2011-01-04 10:00:00,1.95,13313.0,United Kingdom
1,539993,21499,BLUE POLKADOT WRAP,25,2011-01-04 10:00:00,0.42,13313.0,United Kingdom
2,539993,21498,RED RETROSPOT WRAP,25,2011-01-04 10:00:00,0.42,13313.0,United Kingdom
3,539993,22379,RECYCLING BAG RETROSPOT,5,2011-01-04 10:00:00,2.10,13313.0,United Kingdom
4,539993,20718,RED RETROSPOT SHOPPER BAG,10,2011-01-04 10:00:00,1.25,13313.0,United Kingdom

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203422 entries, 0 to 203421
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    203422 non-null  object
 1   StockCode    203422 non-null  object
 2   Description  202623 non-null  object
 3   Quantity     203422 non-null  int64
 4   InvoiceDate  203422 non-null  object
 5   UnitPrice    203422 non-null  float64
 6   CustomerID   150039 non-null  float64
 7   Country      203422 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 12.4+ MB

In [12]:
(df.groupby('CustomerID').InvoiceNo.nunique()>=3).sum()

1042

In [14]:
df.groupby('InvoiceNo').StockCode.nunique().mean()

18.613649025069638