COMBINING AND MERGING DATASETS

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.DataFrame({'orderID': ['10002','10003','10004','10005']\
                    ,'TotalPrice':[1000,5000,12000,7000]})

In [ ]:
df1

In [ ]:
df2 = pd.DataFrame({'orderID': ['10002','10002','10003','10003','10003',\
                                '10004','10005','10005']\
                    ,'ProductName':['Apples','Grape','WaterMelon','Grape','Pear',\
                                   'Cherry','Figue','Mango']})

In [ ]:
df2

In [ ]:
pd.merge(df1,df2,on='orderID',how='left')

In [ ]:
pd.merge(df2, df1, on='orderID',how='left')

In [ ]:
df1

In [ ]:
pd.merge(df1.iloc[:3,:],df2,on='orderID',how='left')

In [ ]:
df1.iloc[:3,:]

In [ ]:
# df1.columns = ['orderID1','TotalPrice']
pd.merge(df1,df2,on='orderID',how='left')

In [ ]:
###if the column names are different in each object, we can specify them separately
df1.columns = ['orderID1','TotalPrice']
pd.merge(df1,df2,left_on='orderID1',right_on = 'orderID', how='left')

merge has a suffixes option for specifying strings to append to overlapping names in the left and right DataFrame objects

In [ ]:
df2

In [ ]:
df1['ShippingAddress'] = ['HN','BN','HN','TH']
df2['ShippingAddress'] = ['HN','HN','BN','BN','BN','HN','TH','TH']

In [ ]:
pd.merge(df1,df2,left_on='orderID1',right_on = 'orderID',how='left')

In [ ]:
pd.merge(df1,df2,left_on='orderID1',\
         right_on = 'orderID',how='left'\
         ,suffixes = ['_left','_right'])

Merging on Index
- we can pass left_index = True or right_index = True ( or both) to indicate that the index should be used as the merge key

In [ ]:
df1 = df1.set_index('orderID1')
pd.merge(df1,df2,left_index = True, right_on = 'orderID')

In [ ]:
# df1 = df1.set_index('orderID1')
pd.merge(df1,df2.set_index('orderID'),left_index = True, right_index=True)

In [ ]:
df1 = df1.set_index('orderID1')
pd.merge(df1,df2,left_index = True, right_on = 'orderID')

DataFrame has a convenient join instance for merging by index
- It can be used to combine together many DataFrame objects having the same or similar indexes but non-overlapping column

In [ ]:
df1.drop('ShippingAddress',axis=1).join(df2.set_index('orderID')\
                                        .drop('ShippingAddress',axis=1))

pd.concat()

In [ ]:
import numpy as np

In [ ]:
df1 = pd.DataFrame(np.arange(6).reshape(3,2),index=['a','b','c'],\
                  columns = ['one','two'])
df2 = pd.DataFrame(5 + np.arange(4).reshape(2,2),index = ['a','c'],\
                  columns = ['one','two'])
pd.concat([df1,df2],axis=0)

In [ ]:
df1

In [ ]:
df2.columns = ['a','two']
df2

In [ ]:
pd.concat([df1,df2],axis=0).reset_index()

In [ ]:
df2.columns = ['three','four']
pd.concat([df1,df2],axis=1)

In [ ]:
df2

In [ ]:
pd.concat([df1,df2],axis=1)

In [ ]:
pd.concat([df1,df2],axis=1,join='inner')