In [ ]:
import pandas as pd
import numpy as np

In [ ]:
curr_series = pd.Series(['Swiss franc','Iceland krona','Danish krone',\
              'Norwegian krone','Canadian dollar'])

In [ ]:
'Swiss france'.split()[1]

In [ ]:
curr_series.apply(lambda x: x.split()[1])

In [ ]:
curr_series.str.split().str.get(1)

In [ ]:
s = pd.Series(
    ["this is a regular sentence",\
     "https://docs.python.org/3/tutorial/index.html",np.nan
    ])

In [ ]:
s.str.split(' ')

In [ ]:
s.str.split(n=1)

In [ ]:
s.str.rsplit(n=1)

In [ ]:
s.str.split('/')

In [ ]:
s.str.split(expand=True)

pd.Series.str.strip

In [ ]:
s = pd.Series(['1. Ant.  ', '2. Bee!\n', '3. Cat?\t', np.nan])
s

In [ ]:
s.str.strip()

In [ ]:
###You can specify the set of characters to be removed
s.str.strip('123.!? \n\t')

In [ ]:
s.str.upper()

In [ ]:
s.str.get(3)

In [ ]:
s2 = pd.Series(['foo','fuz',np.nan])
s2.str.replace('f.','ba',regex=False)

In [ ]:
s2.str.replace('f.','ba',regex=True)

In [ ]:
s2 = pd.Series(['f\noo','fuz',np.nan])
s2.str.replace('f.','ba',regex=False)

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
s2 = pd.Series(['Foo','fuz',np.nan])
s2.str.replace('f.','ba',regex=True,case=True)

In [ ]:
s2 = pd.Series(['Foo','fuz',np.nan])
s2.str.replace('f','ba',regex=True,flags = re.IGNORECASE)

In [ ]:
regex = re.compile('f.',flags = re.IGNORECASE)
s2.str.replace(regex,'ba',regex=True)

'.': matching any character except newline. Ex: 'ab.def' -> match ('abcdef','ab9def')

series.str.contains()

In [ ]:
s1 = pd.Series(['Lion','MOnkey','Rabbit'])
s1.str.match('\w+on',flags = re.IGNORECASE)

In [ ]:
s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.NaN])

In [ ]:
s1

In [ ]:
s1.str.contains('og',regex=False)

In [ ]:
###specifying case sensitivity using case
s1.str.contains('oG',case=False,regex=False)

In [ ]:
s1[s1.str.contains('oG',case=False,regex=False).notnull()]

pd.series.str.extract()
-Extract capture groups in the regex pat as columns in a DataFrame.

In [ ]:
s = pd.Series(['a1', 'b2', 'c3'])
s.str.extract(r'([ab])')

In [ ]:
s.str.extract(r'([ab])',expand=False)

In [ ]:
s.str.extract(r'([ab])?(\d)')

In [ ]:
###named groups will become column names in the result
s.str.extract(r'(?P<letter>[ab])(?P<digit>\d)')

In [ ]:
s = pd.Series(['a1a2', 'b1', 'c1'])
result = s.str.extractall(r'[ab](\d)')
result.reset_index()

series.str.findall()

In [ ]:
s = pd.Series(['Lion Monkey', 'Monkey Monkey', 'Rabbit'])
s.str.findall('Monkey')

In [ ]:
# importing regex
import re
  
# Regex Lookbehind example
example = re.search(r'(?<=geeks)\w', 
                    'geeksforgeeks')
  
print(example.group())
print("Pattern found from index", 
      example.start(), example.end())

In [ ]:
# Using lookbehind
example1 = re.search(r'(?<=[a-z])\d',
                     "geeks12")
print(example1.group())
  
# Without using lookbehind
example2 = re.search(r'([a-z])\d',
                     "geeks12")
print(example2.group())

In [ ]:
example3 = re.search(r'(?<=[a-z])(?=[A-Z])',
                     "TotalPrice")
print(example3.group())

In [ ]:
example3 = re.search(r'(?<=[a-z])(?=[A-Z])',
                     "TotalPrice")
print(example3.group())

In [ ]:
pd.Series(["TotalPrice",'dateCreated']).str.replace(r'(?<=[a-z])([A-Z])','_',regex=True)

In [ ]:
pd.Series(["TotalPrice",'dateCreated']).str.replace(r'(?<=[a-z])(?=[A-Z])','_',regex=True)

In [ ]:
print('abcd\nde')

In [ ]:
pd.Series(["Total\\nPrice",'dateCreated']).str.replace(r'\n','_')